*.pem
*.shp
*.dbf
*.prj
*.qix
*.qml
*.qpj
*.shx
English_IMD_2019/
GB_Postcodes/
*.sql
*.pyc
*.DS_Store
*.gitgnore
*.tfstate
*.tfstate.backup
*.lock.hcl
terraform-provider-aws_v5.39.1_x5
gitignore
OutputFiles
land_registry_data.csv
district_groupby_socio_economic.gpkg
socio_economic_postcode.gpkg
District_Transaction_Groupby%.csv

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*.ipynb_checkpoints

# EMR Notebooks
.sparkmagic/
